*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content:  center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  inline-size: 100%;
  margin: 0 10px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.content__details{
  inline-size: 100%;
  block-size: 100%;
}

.search-form{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-block-start: 30px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-block-start: 4px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
  inline-size: 100%;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__pseudo-checkbox{
  display: block;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  margin: 1px;
  content: "";
}

.search-form__textfield{
  color: currentColor;
  background-color: transparent;
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;  
  line-height: 22px;
  inline-size: 225px;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder{ 
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form:last-child{
  align-items: flex-end;
}

.search-form__label-text {
  padding-inline-start: 5px;
}

.content__list-container{
  position: relative;
  overflow-y: scroll;
}

.result__video-container{
  position: relative;
  inline-size: 711px;
}

.result__video{
  object-fit: cover;
  block-size: 386px;
  inline-size: 100%;
  object-position: center;
}

.content__list-item{
  padding-block-end: 32px;
}

.content__list{
  position: relative;
  max-block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase; 
  padding: 2px 2px 5px;
  color: #FFF;
  line-height: 1;
  hyphens: auto;
}

.content__video-card-thumbnail{
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container{
  display: flex;
  flex-direction: column
}

.content__video-card-description{
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  font-family: Oswald, sans-serif;
  color: #FFF;
  line-height: 70.5px;
  padding: 0 0 26px;
}

.content__accent{
  color: #545050;
}

.content__card-link{
  display: block;
  text-decoration: none;
  color: #fff;
}

.button{
  cursor: pointer;
  color: #fff;
  inline-size: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 6px 0;
  font-weight: 700;
}

button:focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 1px; 
}

.search-form__submit-button{
display: flex;
align-self: flex-end;
justify-content: center;
}

.more-button{
padding: 6px 145px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.content__card-link_current{
  background: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar { 
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

video {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}