*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content{
  display: flex;
  inline-size: 100%;
  margin: 0, 30px;
}

.result {
  display: flex;
  align-self: flex-end;
}

.content__details{
  inline-size: 100%;
}

.search-form{
  display: flex;
  align-items: center;
}

.content__list-container{
  position: relative;
  overflow-y: scroll;
}

.result__video-container{
  position: relative;
  inline-size: 711px;
  padding-bottom: 11px;
}

.result__video{
  object-fit: cover;
  block-size: 386px;
  inline-size: 100%;
}

.content__details{
  inline-size: 100%;
  block-size: 100%;
}

.content__list-item{
  padding-block-end: 32px;
}

.content__list{
  position: relative;
  max-block-size: 298px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.content__video-card-thumbnail{
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container{
  display: flex;
  flex-grow: 3;
}

.content__video-card-description{
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.title {
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  padding-block-end: 23px;
}

.content__accent{
  position: relative;
  color: #545050;
}

.content__card-link{
  display: block;
  text-decoration: none;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-block-start: 4px;
}

.search-form__fieldset-title {
  line-height: 22px;
  padding-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset{
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

video {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}